html, body {
    height:100%;
    margin: 0;
	padding: 0;
	border: 0;
}

.container {
	height:100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: rgb(232,232,232);
}
.central{
	height:90%;
	top: 34px;
	bottom: 0;
	width: 70%;
	margin: auto;
	background-color: rgb(232,232,232);
}

header {
	height: 34px;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: 1px;
	border-bottom: 1px;
	border-bottom-color: rgb(211,211,211);
	border-bottom: 1px solid;
	background-color: white;
}

aside {
	width: 396px;
	float: right;
	padding: 15px 15px 15px 10px;
	margin: 15px;
	background-color: white;
}

.player{
	width: 853px;
	float: left;
	margin-top: 15px;
}

.img{
	padding: 0 10px 0 10px;
	float: left;
}
.img_r{
	padding: 0 10px 0 10px;
	float: right;
}
.img_bottom{
	padding: 10px 0 0 0;
}

.img_min{
	float: left;
	padding: 0 5px 5px 5px;
}

.text_description{
	background-color: white;
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
}

ul{
	list-style-type:none;
	padding: 0;
}

li{
	padding: 0 0 5px 0;
}

.text_side{
	padding: 0 0 0 5px;
}

@font-face {
  font-family: "RobotoM";
  font-style: normal;
  font-weight: 500;
  src: local("../fonts/roboto_medium.woff2"), url("../fonts/roboto_medium.woff2") format('woff2');
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/roboto.woff2"), url("../fonts/roboto.woff2") format('woff2');
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
h3{
	font-family: "RobotoM";
	font-size: 13px;
}

p{
	font-family: "Roboto";
	font-size: 11px;
}
a:link{
	text-decoration:none;
	color: black;
}
a:hover{
	text-decoration:none;
	color: black;
}
a:visited{
	text-decoration:none;
	color: black;
}
#search_input{
	margin-top: 1px;
	float: left;
	margin-left: 120px;
	height: 23px;
	line-height:22px;
	width: 582px;
	font-size: 16px;
	font-family: arial, sans-serif;
	border: 1px solid rgb(198, 198, 198);
	border-right: 0;
}
.search_button{
	float: left;
	background-image: url( '../images/search_button.png');
    background-size: 66px 30px;
    height: 30px;  
    width: 66px;
    border: none;
}